body {
    font-family: Arial;
    text-align: center;
    margin-top: 30px;
}

.board {
    width: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 100px);
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid #444;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cell.winner {
    background: yellow;
}

.names input {
    margin: 5px;
    padding: 5px;
}

button {
    padding: 8px 15px;
    margin: 10px;
}
